.filterWrapper{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--secondary);
    padding: 2.5rem;
    width: 60%;
    height: auto;
    margin-top: 2rem;
    border-radius: 2rem 2rem 0 0;
    margin-bottom: 1rem;
}

.filterWrap{
    border: 2px solid var(--light-color);
    padding: 0.7rem 3.5rem;
    border-radius: 3rem;
    margin: 1rem 1rem 0 0;
    cursor: pointer;
}

.filterWrap:hover{
    background-color: var(--primary);
}

.selectedFood{
    border: 2px solid var(--tertiary);
    background-color: var(--light-color);
    color: var(--tertiary);
}

/* ============================== Container ============================== */

.dashboardWrapper{
    background-color: var(--secondary);
    width: 60%;
    padding: 3rem;
}

.foodWrapper{
    display: flex;
    justify-content: space-around;
    padding-bottom: 5rem;
    margin-bottom: 3rem;
    border-bottom: 2px solid var(--primary);
}

.foodImg{
    height: 17rem;
    width: 25rem;
    object-fit: cover;
    object-position: center;
    margin-right: 4rem;
}

.moreInfo{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.foodDesc{
    line-height: 3rem;
    margin: 1rem 0;
}

.starters, .desert, .drinks{
    margin: 0.3rem 0;
}

.drinkImgWrapper{
    display: flex;
}

.drinkImg{
    height: auto;
    width: 7rem;
    margin-right: 1.5rem;
    border: 1px solid var(--secondary);
}

.price{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.submitBTN{
    padding: 1rem 4rem;
    border: 3px solid var(--tertiary);
    background: transparent;
    color: var(--tertiary);
    font-weight: 600;
    font-size: 1.6rem;
    border-radius: .5rem;
}

.submitBTN:hover{
    background-color: var(--primary);
}

.selectedDrink{
    border: 3px solid var(--tertiary);
}