.filterWrapper{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--secondary);
    padding: 2.5rem;
    width: 60%;
    height: auto;
    margin-top: 2rem;
    border-radius: 2rem 2rem 0 0;
    margin-bottom: 1rem;
}

.filterWrap{
    border: 2px solid var(--light-color);
    padding: 0.7rem 3.5rem;
    border-radius: 3rem;
    margin: 1rem 1rem 0 0;
    cursor: pointer;
}

.selected{
    border: 2px solid var(--tertiary);
    background-color: var(--light-color);
    color: var(--tertiary);
}