.filterWrapper{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--secondary);
    padding: 2.5rem;
    height: auto;
    margin-top: 2rem;
    border-radius: 2rem 2rem 0 0;
    margin-bottom: 1rem;
}

.filterWrap{
    border: 2px solid var(--light-color);
    padding: 0.7rem 3.5rem;
    border-radius: 3rem;
    margin: 1rem 1rem 0 0;
    cursor: pointer;
}

.filterWrap:hover{
    background-color: var(--primary);
}

.selectedFood{
    border: 2px solid var(--tertiary);
    background-color: var(--light-color);
    color: var(--tertiary);
}

/* ============================== Pagination ============================== */

.pagination{
    display: flex;
    justify-content: flex-end;
    background-color: var(--secondary);
    padding: 3rem;
    margin-top: .5rem;
}

.pageNo{
    padding: .1rem 1rem;
    border: 3px solid var(--primary);
    border-radius: .5rem;
    cursor: pointer;
    margin-right: 1.5rem;
}

.active{
    border: 3px solid var(--tertiary);
    color: var(--tertiary)
}